<footer class="text-light py-4" style="background-color: #0d114f;">
    <div class="container">
        <div class="row">

            <div class="col-md-4">
                <h5>About Us</h5>
                <p>Probase Facial Recognition System ,used to counter the hours each employee attendees in a given month.</p>
            </div>

            <div class="col-md-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>

            <div class="col-md-4">
                <h5>Contact Us</h5>
                <p>Email: info@probasegroup.com<br>
                Phone: + (260) 960-322980</p>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#" target="_blank"><i class="fab fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                </ul>
            </div>

        </div>
    </div>

    <div class="text-center mt-3">
        <p>&copy; 2023 Probase Group. All rights reserved. | <a href="#">Privacy Policy</a></p>
    </div>
</footer>